*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px verdana,sans-serif;
}
h2{
	font: bold 14px verdana,sans-serif;
}
header,section,footer,article,figure,figcaption{
	display:block;
}
body{
	text-align: center;
}

#todo{
	width: 960px;
	margin: 15px auto;
	text-align: left;
}

#cabecera{
	border: 1px solid #999999;
	padding: 20px;
	text-align: center;

	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: -webkit-radial-gradient(center, circle, #000507 0%, #000507 100%);
}

#cabecera a{
	color: #FFFFFF;
	font: bold 36px Soad ,verdana,sans-serif;
}
#seccion{
	width: 940px;
	padding: 10px;
	background: -webkit-radial-gradient(center, circle, #FFFFFF 0%, #006699 100%); 
}
#seccion article{
	margin: 20px;
}
#soad img{
	float: right;
}
#soad p{
	margin:10px;
}
#soadlogo{
	float: right;
	margin:10px;
	box-shadow: 10px 10px 5px #FFFFFF;
}
#album ul{
	margin-top: 5px;
	margin-left: 30px;
	list-style-type: disc;
}
#album{
	margin-top: 10px;
}
#premio{
	margin-top: 10px;
}
#premio ul{
	margin-top: 5px;
	margin-left: 30px;
	list-style-type: disc;
}
#pie{
	text-align: center;
	padding: 20px;
	background: -webkit-radial-gradient(center, circle, #0E1017 0%, #0E1017 100%);
}
#pie small{
	color: #FFFFFF;
}
@font-face{
	font-family: 'Soad';
	src:url('Simpsonfont.ttf');
}